body{
    background-color: var(--background);

    font-family: 'Fire-Code', monospace;
    margin: 0;
}



.About , .skill , .contact-me{
    max-width: 1020px;
    margin: 0 auto;
}

ul{
    list-style-type: none;
}

a:link{
    text-decoration: none;
    color: var(--primary);
}
a:visited{
    color: var(--white);
}
a:hover{
    color: brown;
}
a:active{
    color: blueviolet;
}
h2, h3{
    color: var(--primary);
    font-size: 1.75em;
}