
header{
    padding-top: 32px;
    padding-bottom: 8px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 720px;
    margin: 0 auto;
    
}
.nav-options{
    display: flex;
}

.logo{
    margin: 10px;
    color: var(--white);
}
.option{
    color: brown;
    margin: 10px;
}
.nav-link  {
    color: var(--primary);
    text-decoration:none;
}
.logo-link{
    color: var(--primary);
    text-decoration: none;
}

.about-content{
    display: flex;
    max-width: 720px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.about-praghraph{
    margin: 10px;
    padding: 15px , 10px;
    color: var(--primary);
    text-align: left;
    font-size: 20px;
}

main{
    margin-top: 60px ;
    margin-bottom: 50px;
}

.main-projects{
    display: grid;
    grid-template-columns: repeat(3,1fr);


}
.first-project, .third-project , .second-project , .main-projects img{
    border: 2px solid var(--white);
    margin: 10px;
    
}

.header-projects {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}
.Projects{
    max-width: 720px;
    margin: 0 auto;
}
.first-list{
    display: flex;
    margin: 0;
    margin-bottom: 5px;
    padding: 10px;
    list-style-type: none;
    
}
.first-list li{
    
    margin-right: 10px;
    border: 1px solid var(--white);
    padding: 5px;
    
}

.about-header{
    margin: 15px;
}

.contact-me-list{
    display: flex;
}

.contact-me-list{
    text-decoration: none;
}